<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link th:href="@{/ejemplo.css}" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        e.target 
        e.relatedTarget 
    });
});
</script>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="container">
    <div class="page-header text-center">
        <h1>Usuario</h1>
    </div>

    <div class="row">
        <div th:if="${color1}">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel with-nav-tabs panel-success">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tabNombreS" data-toggle="tab">Nombre</a></li>
                            <li><a href="#tabCorreoS" data-toggle="tab">Correo</a></li>
                            <li><a href="#tabEdadS" data-toggle="tab">Edad</a></li>
                            
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">Más <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li th:each="i : ${#numbers.sequence(1, 10)}">
                                        <a th:href="${'#tab' + i + 'S'}" data-toggle="tab" th:text="${i}"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body text-center">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tabNombreS" th:text="${usuario.nombre}"></div>
                            <div class="tab-pane fade" id="tabCorreoS" th:text="${usuario.email}"></div>
                            <div class="tab-pane fade" id="tabEdadS" th:text="${usuario.edad}"></div>
                            
                            <div th:each="i : ${#numbers.sequence(1, 10)}" 
                                 class="tab-pane fade" 
                                 th:id="${'tab' + i + 'S'}" 
                                 th:text="${i}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:unless="${color1}">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel with-nav-tabs panel-info">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tabNombreI" data-toggle="tab">Nombre</a></li>
                            <li><a href="#tabCorreoI" data-toggle="tab">Correo</a></li>
                            <li><a href="#tabEdadI" data-toggle="tab">Edad</a></li>
                            
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">Más <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li th:each="i : ${#numbers.sequence(1, 10)}">
                                        <a th:href="${'#tab' + i + 'I'}" data-toggle="tab" th:text="${i}"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body text-center">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tabNombreI" th:text="${usuario.nombre}"></div>
                            <div class="tab-pane fade" id="tabCorreoI" th:text="${usuario.email}"></div>
                            <div class="tab-pane fade" id="tabEdadI" th:text="${usuario.edad}"></div>
                            
                            <div th:each="i : ${#numbers.sequence(1, 10)}" 
                                 class="tab-pane fade" 
                                 th:id="${'tab' + i + 'I'}" 
                                 th:text="${i}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>